<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following:
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<!-- <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration SYSTEM
    "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
     <mapping class="braunimmobilien.model.Emailbrief"/>
     <mapping class="braunimmobilien.model.Kunde"/>
     <mapping class="braunimmobilien.model.Kundenart"/>
        <mapping class="braunimmobilien.model.Telefonart"/>
       <mapping class="braunimmobilien.model.Mitarbeiter"/>
   <mapping class="braunimmobilien.model.Nachweise"/>   
     <mapping class="braunimmobilien.model.Land"/>
     <mapping class="braunimmobilien.model.Orte"/>
  <mapping class="braunimmobilien.model.Strassen"/>
    <mapping class="braunimmobilien.model.Objektart"/>
     <mapping class="braunimmobilien.model.Objektsuch"/>
     <mapping class="braunimmobilien.model.Status"/>
 <mapping class="braunimmobilien.model.Eigtstatus"/>
    <mapping class="braunimmobilien.model.Eigentuemertyp"/>
   <mapping class="braunimmobilien.model.Status"/>
  <mapping class="braunimmobilien.model.Angstatus"/>
    <mapping class="braunimmobilien.model.Kondition"/>
     <mapping class="braunimmobilien.model.Objekte"/>
  <mapping class="braunimmobilien.model.Angobjzuord"/>
  <mapping class="braunimmobilien.model.Objperszuord"/>
     <mapping class="braunimmobilien.model.Personen"/>
     <mapping class="braunimmobilien.model.Angebot"/>
    <mapping class="braunimmobilien.model.Eigentuemermuster"/>
     <mapping class="braunimmobilien.model.Nutzer"/>
           <mapping class="braunimmobilien.model.Xtyp"/>
        <mapping class="braunimmobilien.model.User"/>
        <mapping class="braunimmobilien.model.Role"/>
        <mapping class="braunimmobilien.model.Type"/>
      <mapping class="braunimmobilien.model.Scout"/>
           <mapping class="braunimmobilien.model.Objarttyp"/>
        <mapping class="braunimmobilien.model.Links"/>
        <mapping class="braunimmobilien.model.Subjects"/>
    </session-factory>
</hibernate-configuration>
