<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p - %C{1}.%M(%L) | %m%n"/>
        </layout>
         </appender>
         <appender name="SYSTEMFILE" class="org.apache.log4j.RollingFileAppender">
       <param name="append" value="false" />
	    <param name="file" value="target/app.log" />
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>
     
   <appender name="SPECIALTESTFILE" class="org.apache.log4j.RollingFileAppender">
       <param name="append" value="false" />
	    <param name="file" value="target/special.log" />
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>
     
    <logger name="net.sf.ehcache">
        <level value="ERROR"/>
    </logger>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>
    
    <logger name="org.hibernate">
        <level value="WARN"/>
    </logger>

    <!--logger name="org.hibernate.SQL">
        <level value="DEBUG"/>
    </logger-->

    <!-- Suppress warnings from Commons Validator -->
    <logger name="org.apache.commons.validator.ValidatorResources">
        <level value="ERROR"/>
    </logger>

    <!-- Suppress invalid warning messages from JSF -->
    <logger name="org.apache.myfaces.shared_impl.renderkit.html">
        <level value="ERROR"/>
    </logger>
    
    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>
   
    <logger name="braunimmobilien">
        <level value="DEBUG"/>
    </logger>

    <logger name="braunimmobilien.bootstrap.webapp.pages.PortalDownloadPage">
        <level value="DEBUG"/>
        <appender-ref ref="SYSTEMFILE" />
    </logger>
<logger name="braunimmobilien.util.ScoutUtil">
        <level value="DEBUG"/>
        <appender-ref ref="SYSTEMFILE" />
    </logger>
  <!--  <logger name="braunimmobilien.bootstrap.webapp.EntityModel">
        <level value="DEBUG"/>
        <appender-ref ref="SYSTEMFILE" />
    </logger>
     <logger name="braunimmobilien.bootstrap.webapp.pages.ObjektTest">
        <level value="DEBUG"/>
        <appender-ref ref="SYSTEMFILE" />
    </logger>-->
    <logger name="braunimmobilien.bootstrap.webapp.pages.breadcrumb.StrassenSucheForm">
        <level value="DEBUG"/>
        <appender-ref ref="SYSTEMFILE" />
    </logger>
    
    <logger name="braunimmobilien.bootstrap.webapp.pages.breadcrumb.PersonPanel">
        <level value="DEBUG"/>
        <appender-ref ref="SPECIALTESTFILE" />
    </logger>
    <root>
        <level value="TRACE"/>
        <appender-ref ref="SYSTEMFILE"/>
    </root>

</log4j:configuration>
